.accordeon-menu {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: rem(730px);
}

.accordeon-menu__list, .accordeon-menu__item,
.accordeon-menu__link {
    display: flex;
    height: 100%;

}

.accordeon-menu__list {
    position: relative;
}

.accordeon-menu__link {
    width: rem(100px);
    align-items: flex-end;
    color: #fff;
    padding-bottom: rem(40px);

    @include phones {
        width: rem(80px);
    }
}

.accordeon-menu__link_first {
    background: linear-gradient(rgba(0,0,0,0.6)), 
                url('/images/kokos.png') no-repeat;
    background-size: cover;
    background-position: rem(-130px);
}

.accordeon-menu__link_second {
    background: linear-gradient(rgba(0,0,0,0.6)), 
                url('/images/calamondin.png') no-repeat;
    background-size: cover;
    background-position: rem(-230px);
}

.accordeon-menu__link_third {
    background: linear-gradient(rgba(0,0,0,0.6)), 
                url('/images/shutterstock.jpg') no-repeat;
    background-size: cover;
    background-position: rem(-270px);
}

.accordeon-menu__item_active {
    @include phones {
        position: absolute;
        right: 0;
        z-index: 1;
    }
}

.accordeon-menu__item_active .accordeon-menu__drop {
    width: rem(430px);
    transition: 0.8s;

    @include phones {
        width: 100%;
    }
}

.accordeon-menu__drop {
    width: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.75);
}

.accordeon-menu__drop-close {
    width: rem(18px);
    height: rem(18px);
    background: url('/images/Закрыть.png') no-repeat;
    position: absolute;
    right: rem(10px);
    top: rem(20px);
    display: none;
}

.accordeon-menu__item_active .accordeon-menu__drop-close {
    display: block;
}

.accordeon-menu__drop p {
    padding: rem(55px) rem(20px);
    min-width: rem(430px);

    @include phones {
        min-width: rem(400px);
    }
}

.accordeon-menu__link span {
    transform: rotate(-90deg);
    white-space: nowrap;
    width: rem(100px);
    height: rem(100px);
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: rem(48px);
}