.btn {
    padding: rem(18px) rem(35px);
    font-size: rem(19px);
    text-transform: uppercase;
    border-radius: rem(35px);
    font-weight: 800;
}

.btn_greeting {
    background-color: #fff;
    color: #0f5a47;
    display: inline-flex;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

.btn_delivery, .btn_slider {
    background-color: #0f5a47;
    color: #ffffff;
}

.btn_reset {
    text-transform:none;
    color: #0f5a47;
    font-size: rem(18px);
    font-weight: 400;
}