.caption {
    text-align: center;
    margin-bottom: 60px;
}

.title_black {
    margin-bottom: 23px;
    font-size: 48px;
    color: #0d0d0d;
}

.slogan {
    color: #666666;
    font-size: 18px;
    max-width: 410px;
    margin: 0 auto;
}