.delivery {
    background: url('/images/bg-delivery.png') no-repeat;
    background-size: cover;

    &::before {
        content: "";
        width: rem(242px);
        height: rem(264px);
        background: url('/images/blackberry.png') no-repeat;
        position: absolute;
        right: rem(-45px);
        top: rem(-135px);
    }
}

.delivery__container {
    position: relative;

    &::before {
        content: "";
        width: rem(50px);
        height: rem(50px);
        background: url('/images/berry.png') no-repeat;
        position: absolute;
        left: rem(50px);
        bottom: rem(55px);
    }

    &::after {
        content: "";
        width: rem(135px);
        height: rem(188px);
        background: url('/images/leave-2.png') no-repeat;
        position: absolute;
        right: rem(-65px);
        bottom: rem(105px);
    }
}
