.delivery {
    background: url('/images/bg-delivery.png') no-repeat;
    background-size: cover;

    &::before {
        content: "";
        width: rem(242px);
        height: rem(264px);
        background: url('/images/blackberry.png') no-repeat;
        position: absolute;
        right: rem(-45px);
        top: rem(-135px);

        @include tablets {
            width: rem(136px);
            height: rem(148px);
            background-size: contain;
            top: rem(-82px);
            right: rem(-35px);
        }
    }

    @include tablets {
        height: 100%;
    }
}

.delivery__container {
    position: relative;
    z-index: 2;

    @include tablets {
        padding: 10% 10%;
    }

    @include phones {
        padding: 10% 0;
    }

    &::before {
        content: "";
        width: rem(50px);
        height: rem(50px);
        background: url('/images/berry.png') no-repeat;
        position: absolute;
        left: rem(50px);
        bottom: rem(55px);

        @include tablets {
            display: none;
        }
    }

    &::after {
        content: "";
        width: rem(135px);
        height: rem(188px);
        background: url('/images/leave-2.png') no-repeat;
        position: absolute;
        right: rem(-65px);
        bottom: rem(105px);

        @include tablets {
            display: none;
        }
    }
}
