

.description__list {
    display: flex;
}

.description__item {
    display: flex;
    align-items: center;
    margin-right: rem(47px);
    &:last-child {
        margin: 0;
    }
}

.description__pic {
    margin-right: rem(10px);
}

.description__pic_leave {
    min-width: rem(44px);
    min-height: rem(41px);
}

.description__pic_car {
    min-width: rem(50px);
    min-height: rem(40px);   
}

.description__pic_ruler {
    min-width: rem(42px);
    min-height: rem(42px);    
}

.description__img {
    color: #b0f7ff;
}

.description__text {
    font-size: rem(16px);
    max-width: rem(84px);

}

.description__svg  {
    fill: none;
    stroke:#b0f7ff;
    stroke-width:0.5;
}

.description__svg_leave {
    width: rem(44px);
    height: rem(41px);
}

.description__svg_car {
    fill: #61c4d9;
    width: rem(50px);
    height: rem(40px);
}

.description__svg_ruler {
    width: rem(42px);
    height: rem(42px);
}