.features {
    position: relative;
    background: url('/images/pattern_leave.png') no-repeat left 45%;

    @include tablets {
        height: 100%;
        // padding: 20% 0;
        line-height: 1.2;
    }


    &::after {
        content: "";
        width: rem(161px);
        height: rem(315px);
        background: url('/images/raspberries.png') no-repeat;
        position: absolute;
        left: 0;
        bottom: rem(-115px);
        z-index: 1;

        @include phones {
            width: rem(125px);
            height: rem(283px);
            background-size: contain;
        }
        }
    
}

.features__container {
    z-index: 1;
    position: relative;
    
}

.feature__img {
    position: absolute;
    top: 175%;
}


.features__list {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.features__item {
    max-width: rem(275px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    &:last-child::after {
        display: none;
    }

    &::after {
        content: "";
        background: url('/images/logo/points.png') no-repeat;
        width: rem(67px);
        height: rem(21px);
        position: absolute;
        right: rem(-65px);
        top: rem(60px);

        @include tablets {
            display: none;
        }
    }

    @include tablets {
        margin-bottom: 5%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}



.features__aside {
    text-align: center;
}

.features__pic {
    width: rem(125px);
    height: rem(125px);
    background-color: #f2f5f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(35px);

    @include tablets {
        margin-bottom: rem(25px);
    }
}

.features__icon-men {
    max-width: rem(66px);
    max-height: rem(69px);
}

.features__icon-smile {
    max-width: rem(70px);
    max-height: rem(69px);
}

.features__icon-hand {
    max-width: rem(75px);
    max-height: rem(64px);
}

.features__subtitle {
    margin-bottom: rem(30px);
    color: #000000;
    font-size: rem(27px);
    font-weight: 700;

    @include tablets {
        margin-bottom: rem(20px);
    }
}

.features__desc {
    font-size: rem(18px);
    font-weight: 300;
    color: #666666;
}

.features__svg {
    fill: #fff;
    stroke:#2a2a29;
    stroke-width:0.75;
}

.features__svg_men {
    width: rem(66px);
    height: rem(69px);
}

.features__svg_smile {
    width: rem(70px);
    height: rem(70px);
}

.features__svg_hand {
    width: rem(75px);
    height: rem(64px);
}