@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800&subset=cyrillic');

@font-face {
    font-family: 'alegreya_sans_blackregular';
    src: url('/fonts/alegreyasans-black-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_blackitalic';
    src: url('/fonts/alegreyasans-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansbold';
    src: url('/fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansbold_italic';
    src: url('/fonts/alegreyasans-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_extraboldRg';
    src: url('/fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_extrabolditalic';
    src: url('/fonts/alegreyasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansitalic';
    src: url('/fonts/alegreyasans-italic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_lightregular';
    src: url('/fonts/alegreyasans-light-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_lightitalic';
    src: url('/fonts/alegreyasans-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_mediumregular';
    src: url('/fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sans_mediumitalic';
    src: url('/fonts/alegreyasans-mediumitalic-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'alegreya_sansregular';
    src: url('/fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
         url('/fonts/alegreyasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}