.footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: rem(24px) 0;
}

.footer__container {
    display: flex;
    flex-direction: row;

    @include phones {
        flex-direction: column;
        text-align: center;
    }
}

.footer__left, .footer__right {
    flex: 1;
}

.footer__left {
    @include phones {
        margin-bottom: rem(10px);
    }
}

.footer__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include phones {
        justify-content: center;
    }
}
