.greeting {
    background: url('/images/candy.png') 85% 50%,
    url('/images/pattern.png') right bottom,#61c4d9;
    background-repeat: no-repeat;
    background-size: 40%;
    color: #ffffff;
}

.greating__container {
    padding: rem(25px) 0 rem(50px) 0;
    justify-content: space-between;
    position: relative;

    &::before {
        content: "";
        width: rem(465px);
        height: rem(345px);
        background: url(/images/leaves.png) no-repeat;
        position: absolute;
        bottom: rem(-40px);
        right: rem(-50px);
    }

    &::after {
        content: "";
        width: rem(60px);
        height: rem(100px);
        background: url(/images/leave.png) no-repeat;
        position: absolute;
        bottom: rem(-40px);
        left: rem(-50px);
    }
}