.map {
    background: url('/images/map.png') no-repeat;
    background-size: cover;
}

.map__logo {
    width: 46px;
    height: 57px;
    background: url('/images/logo/1.png') no-repeat;
    position: absolute;
}

.map__logo_1 {
    left: 437px;
    bottom: 135px;
}