.nav__list {
    display: flex;

    @include tablets {
        display: none;
    }
}

.nav__item {
    margin-right: rem(30px);
}
.nav__item:last-child {
    margin: 0;
}

.nav__link {
    color: #ffffff;
    font-size: rem(18px);
}