.pagination {
    position: fixed;
    top: 220px;
    right: 50px;
}

.pagination__item {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    
    &::before {
        content: "";
        display: flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
    }
}

.active .pagination__link, .pagination__link:hover {
    border-color: #fff;
}