.pagination {
    position: fixed;
    top: rem(220px);
    right: rem(50px);
}

.pagination__item {
    margin-bottom: rem(15px);
    &:last-child {
        margin-bottom: 0;
    }
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(16px);
    height: rem(16px);
    border: 1px solid transparent;
    border-radius: 50%;
    
    &::before {
        content: "";
        display: flex;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background-color: #fff;
    }
}

.active .pagination__link, .pagination__link:hover {
    border-color: #fff;
    transition: .4s;
}