.reviews {
    position: relative;
    background: url('/images/strawberry.png') top right no-repeat;

    &:after {
        content: "";
        height: 422px;
        width: 160px;
        background: url('/images/2-layers.png') no-repeat;
        position: absolute;
        bottom: -25%;
        z-index: 1;
    }
}


.title_reviews {
    font-size: 4rem(8px);
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 55px;
}

.reviews__content {
    background-color: #f8faf9;
    background-image: url('/images/bush.png');
    background-position: right top;
    background-repeat: no-repeat;
    padding: 50px 0 40px 45px;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;


    &::before {
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -75px;
        right: 50%;
        transform: translateX(50%);
        background-color: #fff;
    }
}

.reviews__avatar {
    width: 255px;
    height: 260px;
    overflow: hidden;
    margin-right: 20px;
}

.reviews__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__desc {
    margin-right: auto;
}

.reviews__subtitle {
    color: #323232;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;

}

.reviews__text {
    color: #666666;
    font-size: rem(1rem(8px));
    max-width: rem(435px);
    margin-bottom: rem(30px);
}

.reviews__username {
    color: #666666;
    font-size: rem(1rem(8px));
    font-weight: 500;
}

.reviews__list {
    display: flex;
    justify-content: center;
}

.reviews__item {
    width: rem(94px);
    height: rem(94px);
    border-radius: 50%;
    margin-right: rem(40px);


    &:last-child {
        margin: 0;
    }

    &:hover {
        border: rem(8px) solid #0f5a47;
        transition: .2s;
    }
}

.reviews__item_active {
    border: rem(8px) solid #0f5a47;
}