.slide {
    display: flex;
    align-items: center;
    width: 100%;

    @include tablets {
        padding: rem(70px) rem(150px);
        align-items: flex-start;
    }

    @include phones {
        padding: 0;
    }
}

.slide__arrow-left, .slide__arrow-right {
    display: flex;
    min-width: rem(13px);
    height: rem(28px);
    background: url('/images/arrow-scroll.png') no-repeat;
    position: absolute;
    

    @include tablets {
        top: rem(275px);
    }
}

.slide__arrow-right {
    transform: rotate(180deg);
    right: rem(-20px);
    @include tablets {
        right: rem(35px);
    }

    @include phones {
        right: 0;
    }
}

.slide__arrow-left {
    left: rem(-20px);
    @include tablets {
        left: rem(35px);
    }

    @include phones {
        left: 0;
        z-index: 1;
    }
}



.slide__wrap {
    width: 100%;
    overflow: hidden;
}

.slide__list {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    transition: .5s;
}

.slide__item {
    flex: 0 0 100%;
    max-width: 100%;
    
    
}