.team {

    &::before {
        content: "";
        width:  rem(196px);
        height: rem(578px);
        background: url('/images/blueberries.png') no-repeat;
        position: absolute;
        right: 0;
        top: -30%;

        @include phones {
            width:  rem(170px);
            height: rem(462px);
            background-size: contain;
            right: -9%;
            top: -19%;
        }
    }

    &:after {
        content: "";
        width: rem(104px);
        height: rem(114px);
        background: url('/images/1raspberries.png') no-repeat;
        position: absolute;
        bottom: -5%;
        z-index: 2;

        @include phones {
            width: rem(83px);
            height: rem(90px);
            background-size: contain;
            bottom: -3%;
            left: 4%;
        }
    }

    @include tablets {
        height: 100%;
    }
}

.team__container {
    @include tablets {
        padding: 10% 0;
        position: relative;
    }
}