.team {

    &::before {
        content: "";
        width:  rem(196px);
        height: rem(578px);
        background: url('/images/blueberries.png') no-repeat;
        position: absolute;
        right: 0;
        top: -30%;
    }

    &:after {
        content: "";
        width: rem(104px);
        height: rem(114px);
        background: url('/images/1raspberries.png') no-repeat;
        position: absolute;
        bottom: -5%;
        z-index: 1;
    }
}