.title {
    font-weight: 700;
    text-transform: uppercase;
    line-height: rem(60px);
    font-size: rem(48px);
}

.title_wihte {
    margin-bottom: rem(15px);
    font-size: rem(60px);
}

.title_black, .title_team {
    color: #0d0d0d;
}

.title_black {
    margin-bottom: rem(23px);
}

.title_team {
    margin-bottom: rem(70px);
    text-align: center;
}

.title_menu {
    color: #fff;
    position: absolute;
    top: rem(105px);
    left: rem(80px);
}

.title_form {
    margin-bottom: rem(54px);
    color: #0f5a47;
    text-align: center;
}