.title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
}

.title_wihte {
    margin-bottom: 15px;
}

.title_black, .title_team {
    font-size: 48px;
    color: #0d0d0d;
}

.title_black {
    margin-bottom: 23px;
}

.title_team {
    margin-bottom: 70px;
    text-align: center;
}

.title_menu {
    color: #fff;
    position: absolute;
    top: 105px;
    left: 80px;
    font-size: 48px;
}

.title_form {
    font-size: 48px;
    margin-bottom: 54px;
    color: #0f5a47;
    text-align: center;
}