.caption {
    text-align: center;
    margin-bottom: rem(60px);

    @include tablets {
        margin-bottom: rem(30px);
    }

    @include phones {
        margin-bottom: rem(10px);
    }
}

.slogan {
    color: #666666;
    font-size: rem(18px);
    max-width: rem(410px);
    margin: 0 auto;
}