.form__wrap {
    display: flex;
    font-size: rem(18px);
    color: #0f5a47;

    @include tablets {
        flex-direction: column;
    }
}

.form__left, .form__right {
    flex:1;
}

.form__right {
    margin-left: rem(20px);

    @include tablets {
        margin-left: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(20px);
    flex-wrap: wrap;
}

.form__row_radio {
    margin-bottom: 0;
}

.form__row_checkbox {
    margin-bottom: rem(30px);
}

.form__row_radio, .form__row_checkbox,
.form__row_button {
    @include tablets {
        justify-content: center;
    }
}


.form__label {
    flex: 1;
    margin-left: rem(20px);

    &:first-child {
        margin-left: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(15px) rem(10px);
    color: #000000;
}

.form__text {
    display: flex;
}

.form__field {
    padding: rem(10px);
    height: rem(180px);
    border: none;
    resize: none;
    width: 100%
}

.form__field, .form__input {
    border: rem(3px) solid transparent;
}

.form__input:focus, .form__field:focus {
    border: rem(3px) solid #dde3bd;
}


.form__label_radio {
    display: flex;
    position: relative;
    flex: 0;
    margin-bottom: rem(8px);
}

.form__radio, .form__checkbox {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}

.form__radio-fake {
    display: flex;
    height: rem(24px);
    width: rem(24px);
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-right: rem(10px);

    &::before {
        content: "";
        display: flex;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: #0f5a47;
        transition: .2s;
    }
}

.form__radio:checked+.form__radio-fake::before {
    height: rem(12px);
    width: rem(12px);
}

.form__label-name {
    display: flex;
    width: max-content;
}

.form__label_checkbox {
    display: flex;
    position: relative;
    margin-left: 0;
    flex: 0;
}

.form__checkbox-fake {
    height: rem(23px);
    width: rem(23px);
    background-color: #ffffff;
    margin-right: rem(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: flex;
        height: 0;
        width: 0;
    }

}

.form__checkbox:checked + .form__checkbox-fake::before {
    width: rem(8px);
    height: rem(4px);
    border-left: rem(3px) solid #0f5a47;
    border-bottom: rem(3px) solid #0f5a47;
    transform: rotate(-45deg);
}



