.main__pic {
    width: 43%;
}

.greeting__pic-candy {
    position: absolute;
    right: 5%;
}
.greeting__pic-leaves {
    position: absolute;
    width: 100%;
    bottom: -10%;
    right: 0;
}

.greeting__pic-berries {
    position: absolute;
    bottom: -5%;
    right: 5%;
}