.reviews {
    position: relative;
    background: url('/images/strawberry.png') top right no-repeat;

    &:after {
        content: "";
        height: rem(422px);
        width: rem(160px);
        background: url('/images/2-layers.png') no-repeat;
        position: absolute;
        bottom: -25%;
        z-index: 1;

        @include tablets {
            background: url('/images/2-layers-tablets.png') no-repeat;
        }
    }

    @include tablets {
        height: 100%;
        background: url('/images/strawberry-tablets.png') right 2% no-repeat;
        
    }
}

.reviews__container {
    @include tablets {
        padding: 5% 10%;
    }

    @include phones {
        padding: 0;
        position: relative;
        z-index: 2;
    }
}

.reviews__content {
    background-color: #f8faf9;
    background-image: url('/images/bush.png');
    background-position: right top;
    background-repeat: no-repeat;
    padding: rem(50px) rem(45px) rem(40px) rem(45px);
    display: flex;
    margin-bottom: rem(50px);
    position: relative;
    overflow: hidden;

    @include tablets {
        flex-direction: column;
        align-items: center;
        background-image: url('/images/bush-tablets.png');
    }

    @include phones {
        margin-bottom: rem(10px);
    }


    &::before {
        content: "";
        width: rem(100px);
        height: rem(100px);
        border-radius: 50%;
        position: absolute;
        top: rem(-75px);
        right: 50%;
        transform: translateX(50%);
        background-color: #fff;
    }
}

.reviews__avatar {
    width: rem(255px);
    height: rem(260px);
    overflow: hidden;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
        width: rem(204px);
        height: rem(209px);
    }
}

.reviews__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__desc {
    margin-right: auto;

    @include tablets {
        margin-right: 0;
        text-align: center;
    }
}

.reviews__subtitle {
    color: #323232;
    font-size: rem(30px);
    font-weight: 500;
    margin-bottom: rem(25px);

}

.reviews__text {
    color: #666666;
    font-size: rem(18px);
    max-width: rem(435px);
    margin-bottom: rem(30px);
}

.reviews__username {
    color: #666666;
    font-size: rem(1rem(8px));
    font-weight: 500;
}

.reviews__list {
    display: flex;
    justify-content: center;
}

.reviews__item {
    max-width: rem(94px);
    max-height: rem(94px);
    border-radius: 50%;
    margin-right: 5%;
    border: rem(8px) solid transparent;


    &:last-child {
        margin: 0;
    }

    &:hover {
        border: rem(8px) solid #0f5a47;
        transition: .2s;
    }
}

.reviews__item_active {
    border-color:  #0f5a47;
}

.reviews__link {
    display: flex;
}
    
